
<div class="container">
    <div class="text-center"><img src="/B_1.png" class="img-fluid" alt="Responsive image"></div>
    <div class="text-center"><a class="btn btn-lg" href="/boards/new" style="background-color:#FF8000; color:white;" role="button">앱 다운받으러 가기</a></div>
    <br/>
    <div class="text-center"><img src="/B_2.png" class="img-fluid" alt="Responsive image"></div>
    <div class="text-center"><img src="/B_3.png" class="img-fluid" alt="Responsive image"></div>
    <div class="text-center"><img src="/B_4.png" class="img-fluid" alt="Responsive image"></div>
    <br/>
    <div class="text-center"><a class="btn btn-lg" href="/boards/new" style="background-color:#FF8000; color:white;" role="button">앱 다운받으러 가기</a></div>
    <br/><br/><br/>
</div>
