
<div class="container">
    <div class="text-center"><img src="/A_1.jpg" class="img-fluid" alt="Responsive image"></div>
    <div class="text-center"><a class="btn btn-lg" href="/posts/new" style="background-color:#FF8000; color:white;" role="button">앱 다운받으러 가기</a></div>
    <div class="text-center"><img src="/A_2.jpg" class="img-fluid" alt="Responsive image"></div>
    <div class="text-center"><img src="/A_3.jpg" class="img-fluid" alt="Responsive image"></div>
    <div class="text-center"><img src="/A_4.jpg" class="img-fluid" alt="Responsive image"></div>
    <br/>
    <div class="text-center"><a class="btn btn-lg" href="/posts/new" style="background-color:#FF8000; color:white;" role="button">앱 다운받으러 가기</a></div>
    <br/><br/><br/>
</div>
