<div class="container" style="margin-top:40px;">
  <div class="text-center"><img src="/A_1.jpg" class="img-fluid" alt="Responsive image"></div>
  <div class="row">
    <div class="col-sm">
      
    </div>
    <div class="col-sm text-center">
      <h2>감사합니다</h2><br>
    </div>
    <div class="col-sm">
      
    </div>
  </div>
  <div class="row">
    <div class="col-sm text-center">
      앱이 출시 되면 남겨주신 이메일 주소로 <span style="font-weight:bold">앱 다운로드 안내문</span>과 사전신청한 고객님만을 위한 <span style="font-weight:bold">특별 이벤트</span>를 알려드리겠습니다.<br/>
      이메일 주소는 해당 용도 외에는 사용되지 않습니다. 감사합니다.<br/><br/>
      <%= render 'form', post: @post %>
    </div>
  </div>
</div>
<!--<%= link_to 'Back', posts_path %>-->
