<th><a  href="/home/todayWeather/0">서울</a></th>
              <th><a  href="/home/todayWeather/1">수원</a></th>
              <th><a  href="/home/todayWeather/2">파주</a></th>
              <th><a  href="/home/todayWeather/3">인천</a></th>
              <th><a  href="/home/todayWeather/4">강릉</a></th>
              <th><a  href="/home/todayWeather/5">원주</a></th>
              <th><a  href="/home/todayWeather/6">춘천</a></th>
              <th><a  href="/home/todayWeather/7">대전</a></th>
              <th><a  href="/home/todayWeather/8">홍성</a></th>
              <th><a  href="/home/todayWeather/9">세종</a></th>
              <th><a  href="/home/todayWeather/10">청주</a></th>
              <th><a  href="/home/todayWeather/11">군산</a></th>
              <th><a  href="/home/todayWeather/12">광주</a></th>
              <th><a  href="/home/todayWeather/13">목포</a></th>
              <th><a  href="/home/todayWeather/14">여수</a></th>
              <th><a  href="/home/todayWeather/15">전주</a></th>
              <th><a  href="/home/todayWeather/16">대구</a></th>
              <th><a  href="/home/todayWeather/17">부산</a></th>
              <th><a  href="/home/todayWeather/18">안동</a></th>
              <th><a  href="/home/todayWeather/19">울산</a></th>
              <th><a  href="/home/todayWeather/20">창원</a></th>
              <th><a  href="/home/todayWeather/21">포항</a></th>
              <th><a  href="/home/todayWeather/22">서귀포</a></th>
              <th><a  href="/home/todayWeather/23">제주</a></th>